@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

* {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.quiz-buttons {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.quiz-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 20;
}
