@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

:root {
  --maingreen: #3fbb84;
  --mainblue: #175696;
  --mainwhite: #ffffff;
  --disabled: #d1d1d1;
}

* {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw !important;
  background: var(--maingreen);
  display: flex;
  justify-content: center;
  margin: 0 !important;
}

.ar-mode {
  background: none;
}

a-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.toggle-ar {
  position: fixed;
  bottom: 102px;
  left: 24px;
  font-size: 24px;
  z-index: 20;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid black;
}

.quiz-buttons {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: var(--maingreen);
  border-top: 2px solid var(--mainblue);
  width: 100%;
  height: fit-content;
}

.quiz-buttons__option {
  display: none;
}

.ar-mode .quiz-buttons__option,
.quiz-buttons__power button {
  font-size: 16px;
  cursor: pointer;
  z-index: 20;
  background: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid var(--mainblue);
  color: var(--mainblue);
  font-size: 20px;
}

.quiz-buttons__power--disabled button {
  border: 2px solid var(--disabled);
  color: var(--disabled);
}

.quiz-buttons__power--disabled span {
  color: var(--disabled);
}

.quiz-buttons__arrow {
  display: none;
}

.ar-mode .quiz-buttons__arrow {
  display: flex;
  width: 32px;
  height: 20px;
  position: absolute;
  right: 8px;
  top: 12px;
}

.quiz-buttons__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  height: 90px;
  padding: 0 50px;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.ar-mode .quiz-buttons__power {
  display: none;
}

.quiz-buttons--toggle .quiz-buttons__power {
  display: flex;
}

.quiz-buttons--toggle .quiz-buttons__option {
  display: none;
}

.ar-mode .quiz-buttons__arrow,
.no-ar-mode .quiz-buttons__power,
.ar-mode .quiz-buttons--toggle .quiz-buttons__power {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--mainblue);
}

html,
body {
  height: 100% !important;
  overflow: scroll !important;
}

.no-ar-questions {
  padding: 16px;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 110px;
}

.no-ar-mode__question {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: var(--mainwhite);
  border: 2px solid var(--mainblue);
  color: var(--mainblue);
  font-size: 20px;
  position: relative;
}

.no-ar-mode__question-counter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainwhite);
  border: 2px solid var(--mainblue);
  padding: 0 8px;
  border-radius: 8px;
  bottom: -26px;
}

.no-ar-mode__counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 100%;
  width: 100px;
  padding: 8px;
  border: 2px solid var(--mainblue);
  background: white;
  font-size: 32px;
  height: 100px;
  padding: 8px;
  margin-top: 36px;
  margin-bottom: 4px;
}

.no-ar-mode__counter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--mainblue);
  border-radius: 100%;
  box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.25);
}

.no-ar-mode__option {
  width: 100%;
  box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 48px;
  border: 2px solid var(--mainblue);
  display: flex;
  gap: 4px;
  font-size: 18px;
  background: var(--mainwhite);
  padding: 24px;
  margin-top: 12px;
}

.no-ar-mode__option-letter {
  color: var(--maingreen);
}

.no-ar-mode__option-text {
  color: var(--mainblue);
}

.no-ar-questions,
.ar-questions,
.quiz-buttons__container,
.toggle-ar {
  display: none;
}

.blinking-border-correct {
  border: 2px solid green;
  animation: blink-correct 1s infinite;
}

.blinking-border-wrong {
  border: 2px solid red;
  animation: blink-wrong 1s infinite;
}

@keyframes blink-correct {
  0% {
    border-color: green;
  }
  50% {
    border-color: lightgreen;
  }
  100% {
    border-color: green;
  }
}

@keyframes blink-wrong {
  0% {
    border-color: red;
  }
  50% {
    border-color: darkred;
  }
  100% {
    border-color: red;
  }
}
