.help {
  position: absolute;
  right: 30px;
  bottom: 100px;
  transition: all 0.5s;
  opacity: 0;
  display: none;
  width: 180px;
}

.dialog {
  position: relative;
  right: clamp(3.125rem, -15.2083rem + 91.6667vw, 10rem);
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.help img {
  z-index: 2;
}

.dialog img {
  position: absolute;
  z-index: 1;
}

.dialog div {
  position: relative;
  z-index: 2;
  margin-right: 15px;
  font-size: 28px;
  text-align: center;
  max-width: 200px;
}

.dialog span {
  color: var(--mainblue);
}
